{
    "singleQuote": true,
    "quoteProps": "consistent",
    "printWidth": 110,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf"
}
